 .u-section-1 {
  background-image: url("images/fundo_plastico.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2326px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 352px;
  margin: 548px auto 0;
}

.u-section-1 .u-image-2 {
  width: 787px;
  height: 338px;
  margin: -527px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#ffb400, #d68400);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 107px auto 0;
  padding: 28px 97px 28px 96px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 1088px;
  height: auto;
  background-image: none;
  margin: 177px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-1 .u-image-3 {
  height: 1030px;
  margin-top: 1px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1918px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 518px;
  }

  .u-section-1 .u-image-2 {
    height: 310px;
    margin-top: -497px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 116px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-3 {
    height: 927px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1873px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 334px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -495px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 45px;
    min-height: 762px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 695px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1420px;
  }

  .u-section-1 .u-image-1 {
    height: 210px;
    margin-top: 515px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 204px;
    margin-top: -309px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 87px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 43px;
    min-height: 411px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-image-3 {
    height: 475px;
    margin-top: -76px;
  }
}